.profile-card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-image {
  border-style: solid;
  border-color: #47862d;
  border-width: 3px;
  border-radius: 1000px;
  height: 250px;
  width: 250px;
  object-fit: cover;
}
.profile-card {
  width: 400px;
  padding: 20px;
  box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.3);
}
.profile-card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-name-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}

.profile-name-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
}
.profile-details {
  display: flex;
  flex-direction: column;
}

.profile-detail {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.profile-detail h2 {
  margin-right: 10px;
}
.hobby {
  display: inline-block;
  border-radius: 20px;
  padding: 6px 12px;
  margin: 4px;
  background-color: #eee;
}
.underline {
  border-bottom: #47862d;
  border-style: solid;
  border-width: 5px;
  border-top: white;
  border-right: white;
  border-left: white;
}
